@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/app.css" type="text/css" />

<div class="text-center">
    <header>
        <h1>Sovitushuone</h1>
    </header>
    <input type="text" placeholder="Syötä käyttäjänimesi" name="username" required>
</div>
<div class="text-center">
    <input type="password" placeholder="Syötä salasanasi" name="password" required>
</div>
<div class="text-center">
    <button type="submit" name="login">Kirjaudu sisään</button>
</div>
<div class="text-center">
    <button type="submit" name="register">Rekisteröidy</button>
    <br>
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "vaatteet" })">
        <span>Vaatehuone</span>
    </a>
</div>
