@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/app.css" type="text/css" />

<div class="text-center">

    <label><b>Käyttäjänimi</b></label>
    <input type="text" placeholder="Syötä käyttäjänimesi" name="username" required>
</div>
<div class="text-center">
    <label> <b>Salasana</b></label>
    <input type="password" placeholder="Syötä salasanasi" name="password" required>
</div>
<div>
    <button type="submit" name="login">Kirjaudu sisään</button>
</div>
<div>
    <button type="submit" name="register">Rekisteröidy</button>
</div>
