@model IEnumerable<Sovitushuone.Models.Vaatteet>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .frame {
            width: 700px;
            height: 500px;
            border: 3px solid #ccc;
            background: #eee;
            margin: auto;
            padding: 15px 10px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<h1>Vaatteet</h1>

<body>
    <div class="frame">
        <img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2682&q=80" alt="Vaatteet">
    </div>
</body>